html{
	height:100%;
}

body{
  margin-top:0;
  margin-right: 0;
  margin-left: 0;
  height:100%;
}

#div-machine-state{
  height: 50px;
  padding-top: 20px;
}

.machine-state-text{
  font-family: 'Arimo', Quicksand_Book, Arial;
  font-size:30px;
  font-weight: bold;
}

.topbar{
  width: 100%;
  top: 0;
  background-color:#cccccc;
  text-align: center;
}

#div-axis{
	width:20%;
	height:100%;
	border: 1px solid rgba(99, 99, 99, 0.54);
	float: left;
}

#div-info-velocidade{
	width:39.5%;
	height:100%;
	border: 1px solid rgba(99, 99, 99, 0.54);	
	float: left;
}

#div-info-temperatura{
	width:40%;
	height:100%;
	border: 1px solid rgba(99, 99, 99, 0.54);	
	float: left;
}

.div-axis{
	width:100%;
	height:20%;
}

#block1{
	width:99.7%;
	height:30%;
	padding-left: 2px;
}

#block2{
	width:99.7%;
	height:30%;
	padding-left: 1px;
}

#block3{
  width:99.7%;
  height:30%;
  padding-left: 1px;
}

.hr1{
	width:80%;
}


/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    width:100%;
    height:85%;
}

.tabcontent2 {
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    width:100%;
    height:85%;
}

#tab-automatic-1{
	float: left;
	width:30%;
}

#tab-automatic-2{
	float: left;
	width:70%;
}

#div-botoes-eixos{
	width:30%;
	float: left;
}

#div-botoes-avanco{
	width:30%;
	float: left;
}

#div-botoes-homing{
	width:30%;
	float: left;
}


/* Virtual Keyboard */

.kb-container {
    max-width: 800px; }

.header {
    margin-top: 6rem;
    text-align: center; }

.keyboard {
    text-align: center;
}

button.keyboard-key {
    font-family: "Courier New", Courier, monospace;
}

button.keyboard-key:active {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

/* The active-style class is used by jQuery
   to simulate CSS's ":active" pseudo-class.
*/
button.active-style {
    color: #FFF;
    background-color: #33C3F0;
    border-color: #33C3F0;
}

/* Dynamically adjusts the size of the keyboard's buttons. */
@media (min-width: 320px) {
    button.keyboard-key {
        padding: 0px 5px;
    }
}

@media (min-width: 335px) {
    button.keyboard-key {
        padding: 0px 8px;
    }
}

@media (min-width: 375px) {
    button.keyboard-key {
        padding: 0px 10px;
    }
}

@media (min-width: 520px) {
    button.keyboard-key {
        padding: 0px 15px;
    }
}

@media (min-width: 700px) {
    button.keyboard-key {
        padding: 0px 20px;
    }
}

@media (min-width: 800px) {
    button.keyboard-key {
        padding: 0px 25px;
    }
}

@media (min-width: 930px) {
    button.keyboard-key {
        padding: 0px 30px;
    }
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}