body{
  margin-top:0;
  margin-right: 0;
  margin-left: 0;
}

.flex-container{
  display: flex;
  width:100%;
}

.flex-item{
  width:15%;
}

a.power-button{
  cursor: pointer;
  display: block;
  width: 100px;
  height: 100px;
  font-size: 5em;
  border: 2px solid #dedede;
  background-color: #efefef;
  box-shadow: 0px 0px 40px 1px #ddd inset,
    0px 2px 4px rgba(0,0,0,0.4),
    1px 1px 4px rgba(0,0,0,0.3),
    -1px -1px 2px rgba(0,0,0,0.1),
    -1px 1px 2px rgba(0,0,0,0.1);
  text-align: center;
  line-height: 100px;
  
  left: 0;
  right: 0;
  
  margin-left: 10px;
  
  border-radius: 50%;
   transition: color 0.8s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.power-button:hover{
  box-shadow:  0px 2px 6px rgba(0,0,0,0.4),
    1px 1px 6px rgba(0,0,0,0.3),
    -1px -1px 4px rgba(0,0,0,0.1),
    -1px 1px 4px rgba(0,0,0,0.1);
}
.power-button.on{  
    color: #2ecc71;
}

input[type=text]{
  width: 150px; 
  height: 39px; 
  -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
  border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
  background-color: #fff; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 1px #cbc9c9;
  margin-left: -5px;
  margin-top: 13px; 
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

#icon {
  display: inline-block;
  width: 30px;
  background-color: #3a57af;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
  font-family: 'Arimo', Quicksand_Book, Arial;
}

.axis-send-to{
  width: 250px;
}

.btn-send-to{
  text-align:center;
  padding: 20px 0px;
  display:block;
  height:20px;
  width:120px;
  font-family: 'Arimo', Quicksand_Book, Arial;
  
  cursor:pointer;
  font-size:20px;
  color:#F0F0F0;
  border-radius:10px;
  border-bottom:4px solid #0045A6;
  box-shadow: 6px 6px 6px #999;
  
  -webkit-user-select: none;        
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  
  background-color:#3a57af;
  
  -webkit-transition: background 0.05s linear;  
    -moz-transition: background 0.05s linear;  
    -o-transition: background 0.05s linear;  
    transition: background 0.05s linear;
  
  background-size:1px 200px;
  
  transition: all .05s linear;
}

.btn-send-to:hover{
  background-position:100px;
}

.btn-send-to:active {
  box-shadow: 2px 2px 2px #777;
  border-bottom:1px solid #0045A6;
  transform: translateY(3px);
}

.Progress-label {
  font-size: 1em;
  font-family: Helvetica, sans-serif;
  display: block;
}

.Progress-main {
  background-color: red;
  display: block;
  width: 100%;
  height: 1.3em;
  margin-top: 0.75em;
}

.Progress-main::-moz-progress-bar {
  background: #17BAB3;
}

.Progress-main::-webkit-progress-bar {
  background: #F2F2F2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}

.Progress-main::-webkit-progress-value {
  background: #17BAB3;
}

.Progress-main::-ms-fill {
  background: #17BAB3;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
}

.Progress-bar {
  margin-top: 0.95em;
  background-color: #F2F2F2;
  height: 0.3em;
}

.Progress-value {
  background-color: #17BAB3;
  display: block;
  height: 0.3em;
}

.gcodefile{
  padding-left: 20px;
}

.btn-axis-send{
  padding-top: 10px;
}

#progress-bars{
  width:300px;
}

.div-extrude{
  margin-left: 30px;
}

.extrude{
  margin-bottom: 15px;
}

.Progress{
  padding-bottom: 20px;
}

#btn-pause{
  margin-top: 20px;
}

#btn-stop{
  background-color:red;
  margin-top:20px;
  border-bottom:4px solid #a60010;
}


.demo-container {
    box-sizing: border-box;
    width: 850px;
    height: 450px;
    padding: 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.demo-placeholder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}


.topbar{
  width: 100%;
  top: 0;
  background-color:#cccccc;
  text-align: center;
}

#container{
  margin-top: 20px;
}

#div-machine-state{
  height: 60px;
  padding-top: 20px;
}

.machine-state-text{
  font-family: 'Arimo', Quicksand_Book, Arial;
  font-size:36px;
  font-weight: bold;
}

.span-inform{
  font-family: 'Arimo', Quicksand_Book, Arial;
  font-size:26px;
  font-weight: bold;
  color:orange;
}

.ullist{
  display: inline-block;
  vertical-align: middle;
  width: 450px;
  box-shadow:inset 0 0 5px rgba(0,0,0,0.1);  
  font-family: 'Arimo', Quicksand_Book, Arial;
  font-weight:bold;
  color:#FAFAFA;
  overflow:hidden;
  border: 1em solid rgba(255, 255, 255, 0.04);
  border-top-color: rgba(0, 0, 0, 0.05);
  border-bottom-color: rgba(0, 0, 0, 0.05);
  padding-left: 0;
  margin-left: 20px;
  margin-top:40px;
}

.lilist{
  display:block;
  height:5em;
}

.span-list{
  position: relative;
  display: block;
  height: 100%;
  background: #F1654C;
  font-size:1.5em;
  line-height: 3.5em;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05), inset 0 -2px 0 rgba(0, 0, 0, 0.05),inset -2px 0px 0 rgba(0, 0, 0, 0.05);
  transform-style: preserve-3d;
  perspective: 0;
  transform-origin: 150px 0 -150px;
  transition: 500ms ease;
  padding-left: 20px;
}

.div-progress-gcode{
  margin-left: 300px;
  margin-top: 100px;
}